.tableRow {
  background-color: #eee111;
}

.samplePicture {
  height: auto;
  width: 100px;
  border-radius: 50%;
}

.cell {
  padding: 1rem;
  min-width: 100px;
  height: auto;
  text-align: center;
}
